<footer class="footer">
    <div class="container">

        <div class="footer-top">

            <div class="footer-brand">
                <a href="#" class="logo">
                    <img src="images/FIX_AT_YOUR_FINGERTIPS-removebg-preview.png" alt="fayft logo">
                </a>

                <p class="footer-text">
                    Search for cheapest home services all over Nepal.
                </p>
            </div>

            <ul class="footer-list">
                <li>
                    <p class="footer-list-title">Company</p>
                </li>
                <li>
                    <a href="#" class="footer-link">Home</a>
                </li>

                <li>
                    <a href="#" class="footer-link">About us</a>
                </li>

                <li>
                    <a href="#" class="footer-link">Our Services</a>
                </li>

                <li>
                    <a href="#" class="footer-link">Contact us</a>
                </li>


            </ul>

            <ul class="footer-list">

                <li>
                    <p class="footer-list-title">Support</p>
                </li>

                <li>
                    <a href="#" class="footer-link">Help center</a>
                </li>

                <li>
                    <a href="#" class="footer-link">Terms & conditions</a>
                </li>
            </ul>
            <ul>
                <li>
                    <p class="footer-list-title">Suggestion Box:</p>
                </li>

                <li>
                    <input class="footer-link" style="background-color: white; margin-bottom: 5px;" type="text"
                        placeholder="Full Name">
                </li>

                <li>
                    <textarea rows="3" cols="30" placeholder="Type a message here"
                        style="border: none; border-radius: 5px;" class="footer-link"></textarea>
                </li>
            </ul>
        </div>

        <div class="footer-bottom">

            <ul class="social-list">

                <li>
                    <a href="#" class="social-link">
                        <ion-icon name="logo-facebook"></ion-icon>
                    </a>
                </li>

                <li>
                    <a href="#" class="social-link">
                        <ion-icon name="logo-instagram"></ion-icon>
                    </a>
                </li>

                <li>
                    <a href="#" class="social-link">
                        <ion-icon name="logo-twitter"></ion-icon>
                    </a>
                </li>

                <li>
                    <a href="#" class="social-link">
                        <ion-icon name="logo-linkedin"></ion-icon>
                    </a>
                </li>

                <li>
                    <a href="#" class="social-link">
                        <ion-icon name="logo-skype"></ion-icon>
                    </a>
                </li>

                <li>
                    <a href="#" class="social-link">
                        <ion-icon name="mail-outline"></ion-icon>
                    </a>
                </li>

            </ul>

            <p class="copyright">
                &copy; 2024 <a href="#">Fix at your Fingertips.</a>. All Rights Reserved
            </p>
        </div>
    </div>
</footer>