<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/home.css">
    <title>Our Sevices</title>
</head>

<body>
    <%- include("./components/navbar.ejs")%>


        <section class="section hero" id="featured-service">
            <div class="container">

                <div class="title-wrapper">
                    <h2 class="h2 section-title">All Services</h2>
                </div>

                <ul class="featured-services-list">


                    <!-- Electrician Box-->
                    <li>
                        <div class="featured-services-card">
                            <figure class="card-banner">
                                <img src="images/Electrician.jpg" alt="Electrician" loading="lazy" width="440"
                                    height="300" class="w-100">
                            </figure>

                            <div class="card-content">

                                <div class="card-title-wrapper">
                                    <h3 class="h3 card-title">
                                        <a href="#">Electrician</a>
                                    </h3>

                                    <data class="year" value="1">1</data>
                                </div>

                                <div class="card-price-wrapper">

                                    <button class="btn fav-btn" aria-label="Add to favourite list">
                                        <ion-icon name="heart-outline"></ion-icon>
                                    </button>

                                    <button class="btn">View Available Electricians </button>
                                </div>
                            </div>
                        </div>
                    </li>

                    <!-- Plumber box -->
                    <li>
                        <div class="featured-services-card">

                            <figure class="card-banner">
                                <img src="images/plumber.jpg" alt="Plumber" loading="lazy" width="440" height="300"
                                    class="w-100">
                            </figure>

                            <div class="card-content">

                                <div class="card-title-wrapper">
                                    <h3 class="h3 card-title">
                                        <a href="#">Plumber</a>
                                    </h3>

                                    <data class="year" value="1">1</data>
                                </div>

                                <div class="card-price-wrapper">

                                    <button class="btn fav-btn" aria-label="Add to favourite list">
                                        <ion-icon name="heart-outline"></ion-icon>
                                    </button>

                                    <button class="btn">View Available Plumbers </button>
                                </div>
                            </div>
                        </div>
                    </li>

                    <!-- Painter box-->
                    <li>
                        <div class="featured-services-card">

                            <figure class="card-banner">
                                <img src="images/painter.jpg" alt="Painter" loading="lazy" width="440" height="300"
                                    class="w-100">
                            </figure>

                            <div class="card-content">

                                <div class="card-title-wrapper">
                                    <h3 class="h3 card-title">
                                        <a href="#">Painter</a>
                                    </h3>

                                    <data class="year" value="1">1</data>
                                </div>

                                <div class="card-price-wrapper">

                                    <button class="btn fav-btn" aria-label="Add to favourite list">
                                        <ion-icon name="heart-outline"></ion-icon>
                                    </button>

                                    <button class="btn">View Available Painter </button>
                                </div>
                            </div>
                        </div>
                    </li>

                    <!-- Cleaner box-->
                    <li>
                        <div class="featured-services-card">

                            <figure class="card-banner">
                                <img src="images/cleaner.jpg" alt="Electrician" loading="lazy" width="440" height="300"
                                    class="w-100">
                            </figure>

                            <div class="card-content">

                                <div class="card-title-wrapper">
                                    <h3 class="h3 card-title">
                                        <a href="#">Cleaner</a>
                                    </h3>

                                    <data class="year" value="1">1</data>
                                </div>

                                <div class="card-price-wrapper">

                                    <button class="btn fav-btn" aria-label="Add to favourite list">
                                        <ion-icon name="heart-outline"></ion-icon>
                                    </button>

                                    <button class="btn">View Available Cleaner </button>
                                </div>
                            </div>
                        </div>
                    </li>

                    <!-- Security Guards box-->
                    <li>
                        <div class="featured-services-card">

                            <figure class="card-banner">
                                <img src="images/security.jpg" alt="Security-guards" loading="lazy" width="440"
                                    height="300" class="w-100">
                            </figure>

                            <div class="card-content">

                                <div class="card-title-wrapper">
                                    <h3 class="h3 card-title">
                                        <a href="#">Security Guards/ Bouncers</a>
                                    </h3>

                                    <data class="year" value="1">1</data>
                                </div>

                                <div class="card-price-wrapper">

                                    <button class="btn fav-btn" aria-label="Add to favourite list">
                                        <ion-icon name="heart-outline"></ion-icon>
                                    </button>

                                    <button class="btn">View Available Security </button>
                                </div>
                            </div>
                        </div>
                    </li>

                    <!-- Gardener box -->
                    <li>
                        <div class="featured-services-card">

                            <figure class="card-banner">
                                <img src="images/gardener.jpg" alt="Gardener" loading="lazy" width="440" height="300"
                                    class="w-100">
                            </figure>

                            <div class="card-content">

                                <div class="card-title-wrapper">
                                    <h3 class="h3 card-title">
                                        <a href="#">Gardener</a>
                                    </h3>

                                    <data class="year" value="1">1</data>
                                </div>

                                <div class="card-price-wrapper">

                                    <button class="btn fav-btn" aria-label="Add to favourite list">
                                        <ion-icon name="heart-outline"></ion-icon>
                                    </button>

                                    <button class="btn">View Available Gardeners </button>
                                </div>
                            </div>
                        </div>
                    </li>


                </ul>

            </div>
        </section>

        <%- include ("./components/footer.ejs") %>
</body>

</html>