<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Fix at your Fingertips</title>

  <!-- 
    - favicon
    To be made pending...................
  -->
  <!-- <link rel="shortcut icon" href="./favico.svg" type="image/svg+xml"> -->
  <link rel="stylesheet" type="text/css" href="../styles/style.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;600&family=Open+Sans&display=swap"
    rel="stylesheet">
</head>

<body>

  <!-- 
    - #HEADER
  -->

  <header class="header" data-header>
    <div class="container">

      <div class="overlay" data-overlay></div>

      <a href="#" class="logo">
        <img src="./assets/images/FIX_AT_YOUR_FINGERTIPS-removebg-preview.png" alt="fayft logo">
      </a>

      <nav class="navbar" data-navbar>
        <ul class="navbar-list">

          <li>
            <a href="#home" class="navbar-link" data-nav-link>Home</a>
          </li>

          <li>
            <a href="#" class="navbar-link" data-nav-link>About us</a>
          </li>

          <li>
            <a href="#Services" class="navbar-link" data-nav-link>Services</a>
          </li>


          <li>
            <a href="#Contactus" class="navbar-link" data-nav-link>Contact Us</a>
          </li>

        </ul>
      </nav>

      <div class="header-actions">

        <div class="header-contact">
          <a href="tel:9812345678" class="contact-link">9812345678</a>

          <span class="contact-time">Feel free to contact us</span>
        </div>
        <!-- Become a Worker ko form ko link halna baki -->
        <a href="#becomeaworker.html" class="btn" aria-labelledby="aria-label-txt">
          <ion-icon name="person-outline"></ion-icon>

          <span id="aria-label-txt">Become a Worker</span>
        </a>

        <a href="#" class="btn user-btn" aria-label="Profile">
          <ion-icon name="person-outline"></ion-icon>
          <span id="aria-label-txt">Login</span>
        </a>

        <button class="nav-toggle-btn" data-nav-toggle-btn aria-label="Toggle Menu">
          <span class="one"></span>
          <span class="two"></span>
          <span class="three"></span>
        </button>

      </div>

    </div>
  </header>





  <main>
    <article>

      <!-- 
        - #HERO
      -->

      <section class="section hero" id="home">
        <div class="container">

          <div class="hero-content">
            <h2 class="h1 hero-title">Service at Your Doorsteps.</h2>

            <p class="hero-text">
              Best household service workers finder in Nepal.
            </p>
          </div>

          <div class="hero-banner"></div>

          <form action="" class="hero-form">

            <div class="input-wrapper">
              <label for="input-1" class="input-label">Service Search:</label>

              <input type="text" name="service-type" id="input-1" class="input-field"
                placeholder="Type a service Here.">
            </div>

            <div class="input-wrapper">
              <label for="input-2" class="input-label">Location:</label>

              <input type="text" name="location" id="input-2" class="input-field" placeholder="Mention your Location">
            </div>

            <div class="input-wrapper">
              <label for="input-3" class="input-label">Experience:</label>

              <input type="text" name="experience" id="input-3" class="input-field"
                placeholder="Mention Experience if any?">
            </div>
            <button type="submit" class="btn">Search</button>
          </form>
        </div>
      </section>

      <!-- ..................Hero section ends Here .................................-->

      <section class="section aboutus">
        <div class="container">
          <h2 class="h2 section-title">About us</h2>
          <div class="aboutus-card">

            <h3 class="card-title">Fix at Your Fingertips</h3>

            <p class="card-text">
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quae amet officiis hic reprehenderit, sequi
              excepturi iste veritatis beatae itaque consequatur nostrum reiciendis nihil saepe repellendus,
              necessitatibus vitae voluptates neque a voluptatibus cupiditate vero laborum et. Quidem a dolor magni modi
              distinctio itaque, repellendus sed alias error earum, eaque minus quod quisquam velit voluptates similique
              dicta consequatur vitae in vero illo. Facere omnis veniam, nostrum provident rerum, adipisci non dolor est
              velit facilis voluptate assumenda iure? Minima totam, voluptatibus quo, fugiat similique nulla laudantium
              magnam aspernatur accusamus corporis molestias perferendis voluptatum, quis quas commodi sed numquam natus
              eligendi ad. Asperiores, voluptatibus!
            </p>

            <a href="#" class="card-link">Learn More.</a>
          </div>
        </div>
      </section>


      <!--..............About us section ends here......................-->

      <!-- 
        - #Services Available
      -->

      <section class="section featured-services" id="featured-service">
        <div class="container">

          <div class="title-wrapper">
            <h2 class="h2 section-title">Featured Services</h2>

            <a href="#" class="featured-services-link">
              <span>View more</span>

              <ion-icon name="arrow-forward-outline"></ion-icon>
            </a>
          </div>

          <ul class="featured-services-list">


            <!-- Electrician Box-->
            <li>
              <div class="featured-services-card">
                <figure class="card-banner">
                  <img src="./assets/images/Electrician.jpg" alt="Electrician" loading="lazy" width="440" height="300"
                    class="w-100">
                </figure>

                <div class="card-content">

                  <div class="card-title-wrapper">
                    <h3 class="h3 card-title">
                      <a href="#">Electrician</a>
                    </h3>

                    <data class="year" value="1">1</data>
                  </div>

                  <div class="card-price-wrapper">

                    <button class="btn fav-btn" aria-label="Add to favourite list">
                      <ion-icon name="heart-outline"></ion-icon>
                    </button>

                    <button class="btn">View Available Electricians </button>
                  </div>
                </div>
              </div>
            </li>

            <!-- Plumber box -->
            <li>
              <div class="featured-services-card">

                <figure class="card-banner">
                  <img src="./assets/images/plumber.jpg" alt="Plumber" loading="lazy" width="440" height="300"
                    class="w-100">
                </figure>

                <div class="card-content">

                  <div class="card-title-wrapper">
                    <h3 class="h3 card-title">
                      <a href="#">Plumber</a>
                    </h3>

                    <data class="year" value="1">1</data>
                  </div>

                  <div class="card-price-wrapper">

                    <button class="btn fav-btn" aria-label="Add to favourite list">
                      <ion-icon name="heart-outline"></ion-icon>
                    </button>

                    <button class="btn">View Available Plumbers </button>
                  </div>
                </div>
              </div>
            </li>

            <!-- Painter box-->
            <li>
              <div class="featured-services-card">

                <figure class="card-banner">
                  <img src="./assets/images/painter.jpg" alt="Painter" loading="lazy" width="440" height="300"
                    class="w-100">
                </figure>

                <div class="card-content">

                  <div class="card-title-wrapper">
                    <h3 class="h3 card-title">
                      <a href="#">Painter</a>
                    </h3>

                    <data class="year" value="1">1</data>
                  </div>

                  <div class="card-price-wrapper">

                    <button class="btn fav-btn" aria-label="Add to favourite list">
                      <ion-icon name="heart-outline"></ion-icon>
                    </button>

                    <button class="btn">View Available Painter </button>
                  </div>
                </div>
              </div>
            </li>

            <!-- Cleaner box-->
            <li>
              <div class="featured-services-card">

                <figure class="card-banner">
                  <img src="./assets/images/cleaner.jpg" alt="Electrician" loading="lazy" width="440" height="300"
                    class="w-100">
                </figure>

                <div class="card-content">

                  <div class="card-title-wrapper">
                    <h3 class="h3 card-title">
                      <a href="#">Cleaner</a>
                    </h3>

                    <data class="year" value="1">1</data>
                  </div>

                  <div class="card-price-wrapper">

                    <button class="btn fav-btn" aria-label="Add to favourite list">
                      <ion-icon name="heart-outline"></ion-icon>
                    </button>

                    <button class="btn">View Available Cleaner </button>
                  </div>
                </div>
              </div>
            </li>

            <!-- Security Guards box-->
            <li>
              <div class="featured-services-card">

                <figure class="card-banner">
                  <img src="./assets/images/security.jpg" alt="Security-guards" loading="lazy" width="440" height="300"
                    class="w-100">
                </figure>

                <div class="card-content">

                  <div class="card-title-wrapper">
                    <h3 class="h3 card-title">
                      <a href="#">Security Guards/ Bouncers</a>
                    </h3>

                    <data class="year" value="1">1</data>
                  </div>

                  <div class="card-price-wrapper">

                    <button class="btn fav-btn" aria-label="Add to favourite list">
                      <ion-icon name="heart-outline"></ion-icon>
                    </button>

                    <button class="btn">View Available Security </button>
                  </div>
                </div>
              </div>
            </li>

            <!-- Gardener box -->
            <li>
              <div class="featured-services-card">

                <figure class="card-banner">
                  <img src="./assets/images/gardener.jpg" alt="Gardener" loading="lazy" width="440" height="300"
                    class="w-100">
                </figure>

                <div class="card-content">

                  <div class="card-title-wrapper">
                    <h3 class="h3 card-title">
                      <a href="#">Gardener</a>
                    </h3>

                    <data class="year" value="1">1</data>
                  </div>

                  <div class="card-price-wrapper">

                    <button class="btn fav-btn" aria-label="Add to favourite list">
                      <ion-icon name="heart-outline"></ion-icon>
                    </button>

                    <button class="btn">View Available Gardeners </button>
                  </div>
                </div>
              </div>
            </li>


          </ul>

        </div>
      </section>






      <!--  - #Testimonials section-->

      <section class="section blog" id="Testimonials">
        <div class="container">
          <h2 class="h2 section-title">Our Testimonials</h2>

          <ul class="blog-list has-scrollbar">

            <li>
              <div class="blog-card">

                <figure class="card-banner">

                  <a href="#">
                    <img src="./assets/images/OIP (1).jpg" alt="Testimonials" loading="lazy" class="w-100">
                  </a>

                  <a href="#" class="btn card-badge">Company</a>

                </figure>

                <div class="card-content">

                  <h3 class="h3 card-title">
                    <a href="#">Opening of new offices of the company</a>
                  </h3>

                  <div class="card-meta">

                    <div class="publish-date">
                      <ion-icon name="time-outline"></ion-icon>

                      <time datetime="2022-01-14">January 14, 2022</time>
                    </div>

                    <div class="comments">
                      <ion-icon name="chatbubble-ellipses-outline"></ion-icon>

                      <data value="114">114</data>
                    </div>

                  </div>

                </div>

              </div>
            </li>

            <li>
              <div class="blog-card">

                <figure class="card-banner">

                  <a href="#">
                    <img src="./assets/images/blog-2.jpg" alt="What cars are most vulnerable" loading="lazy"
                      class="w-100">
                  </a>

                  <a href="#" class="btn card-badge">Repair</a>

                </figure>

                <div class="card-content">

                  <h3 class="h3 card-title">
                    <a href="#">What cars are most vulnerable</a>
                  </h3>

                  <div class="card-meta">

                    <div class="publish-date">
                      <ion-icon name="time-outline"></ion-icon>

                      <time datetime="2022-01-14">January 14, 2022</time>
                    </div>

                    <div class="comments">
                      <ion-icon name="chatbubble-ellipses-outline"></ion-icon>

                      <data value="114">114</data>
                    </div>

                  </div>

                </div>

              </div>
            </li>

            <li>
              <div class="blog-card">

                <figure class="card-banner">

                  <a href="#">
                    <img src="./assets/images/blog-3.jpg" alt="Statistics showed which average age" loading="lazy"
                      class="w-100">
                  </a>

                  <a href="#" class="btn card-badge">Cars</a>

                </figure>

                <div class="card-content">

                  <h3 class="h3 card-title">
                    <a href="#">Statistics showed which average age</a>
                  </h3>

                  <div class="card-meta">

                    <div class="publish-date">
                      <ion-icon name="time-outline"></ion-icon>

                      <time datetime="2022-01-14">January 14, 2022</time>
                    </div>

                    <div class="comments">
                      <ion-icon name="chatbubble-ellipses-outline"></ion-icon>

                      <data value="114">114</data>
                    </div>

                  </div>

                </div>

              </div>
            </li>
          </ul>

        </div>
      </section>

    </article>
  </main>





  <!-- 
    - #FOOTER
  -->

  <footer class="footer">
    <div class="container">

      <div class="footer-top">

        <div class="footer-brand">
          <a href="#" class="logo">
            <img src="./assets/images/logo.svg" alt="Ridex logo">
          </a>

          <p class="footer-text">
            Search for cheap rental cars in New York. With a diverse fleet of 19,000 vehicles, Waydex offers its
            consumers an
            attractive and fun selection.
          </p>
        </div>

        <ul class="footer-list">

          <li>
            <p class="footer-list-title">Company</p>
          </li>

          <li>
            <a href="#" class="footer-link">About us</a>
          </li>

          <li>
            <a href="#" class="footer-link">Pricing plans</a>
          </li>

          <li>
            <a href="#" class="footer-link">Our blog</a>
          </li>

          <li>
            <a href="#" class="footer-link">Contacts</a>
          </li>

        </ul>

        <ul class="footer-list">

          <li>
            <p class="footer-list-title">Support</p>
          </li>

          <li>
            <a href="#" class="footer-link">Help center</a>
          </li>

          <li>
            <a href="#" class="footer-link">Ask a question</a>
          </li>

          <li>
            <a href="#" class="footer-link">Privacy policy</a>
          </li>

          <li>
            <a href="#" class="footer-link">Terms & conditions</a>
          </li>

        </ul>

        <ul class="footer-list">

          <li>
            <p class="footer-list-title">Neighborhoods in New York</p>
          </li>

          <li>
            <a href="#" class="footer-link">Manhattan</a>
          </li>

          <li>
            <a href="#" class="footer-link">Central New York City</a>
          </li>

          <li>
            <a href="#" class="footer-link">Upper East Side</a>
          </li>

          <li>
            <a href="#" class="footer-link">Queens</a>
          </li>

          <li>
            <a href="#" class="footer-link">Theater District</a>
          </li>

          <li>
            <a href="#" class="footer-link">Midtown</a>
          </li>

          <li>
            <a href="#" class="footer-link">SoHo</a>
          </li>

          <li>
            <a href="#" class="footer-link">Chelsea</a>
          </li>

        </ul>

      </div>

      <div class="footer-bottom">

        <ul class="social-list">

          <li>
            <a href="#" class="social-link">
              <ion-icon name="logo-facebook"></ion-icon>
            </a>
          </li>

          <li>
            <a href="#" class="social-link">
              <ion-icon name="logo-instagram"></ion-icon>
            </a>
          </li>

          <li>
            <a href="#" class="social-link">
              <ion-icon name="logo-twitter"></ion-icon>
            </a>
          </li>

          <li>
            <a href="#" class="social-link">
              <ion-icon name="logo-linkedin"></ion-icon>
            </a>
          </li>

          <li>
            <a href="#" class="social-link">
              <ion-icon name="logo-skype"></ion-icon>
            </a>
          </li>

          <li>
            <a href="#" class="social-link">
              <ion-icon name="mail-outline"></ion-icon>
            </a>
          </li>

        </ul>

        <p class="copyright">
          &copy; 2022 <a href="#">codewithsadee</a>. All Rights Reserved
        </p>

      </div>

    </div>
  </footer>





  <!-- 
    - custom js link
  -->
  <script src="./assets/js/script.js"></script>

  <!-- 
    - ionicon link
  -->
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

</body>

</html>